[Unit]
Description=Root Init Script Runner
After=home.mount
After=network.target

[Service]
ExecStart=/home/root/init.sh

[Install]
WantedBy=multi-user.target